@using Remotely.Server.Components 
@using Remotely.Server.Auth 
@inherits LayoutComponentBase

<AuthorizeView Policy="@TwoFactorRequiredRequirement.PolicyName">
    <Authorized>
            <div class="page">
                <div class="sidebar">
                    <NavMenu />
                </div>

                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>

                <ToastHarness />

                <ModalHarness />
            </div>
    </Authorized>
    <NotAuthorized>
        <div class="container mt-5">
            <h3>需要两因素身份验证</h3>

            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <p>需要两因素身份验证. 点击下方的按钮来创建你的授权APP.</p>
                    <p>
                        <a href="/Identity/Account/Manage/TwoFactorAuthentication" class="btn btn-primary">Enable 2FA</a>
                    </p>
                </div>
            </div>
        </div>

    </NotAuthorized>
</AuthorizeView>
