@page
@model Remotely.Server.Pages.InviteModel
@{
    ViewData["Title"] = "邀请";
}
<h3>组织邀请</h3>
<hr />
<div class="row">
    <div class="col-sm-12">
        @if (Model.Success)
        {
            <h5>恭喜!</h5>
            <p class="text-info">
                您以成功加入了组织!
            </p>
        }

        else
        {
            <form method="post">
                <div>
                    <strong class="text-danger">WARNING: </strong>
                    <p class="text-danger">您将离开当前组织。将失去访问它的所有客户端，知道有人邀请您回来.</p>
                    <p>您确定要离开当前组织然后加入这个吗？</p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Input.InviteID" hidden />
                <div class="form-group">
                    <button type="button" class="btn btn-secondary mr-3" onclick="location.assign(location.origin)">取消</button>
                    <button type="submit" class="btn btn-danger">确定</button>
                </div>
            </form>
        }

    </div>
</div>
