@page
@using Remotely.Shared.Models
@inject Remotely.Server.Services.IApplicationConfig AppConfig
@model Remotely.Server.Pages.RemoteControlModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no" />
    <link rel="icon" href="~/favicon.ico" />
    <title>FastRC远程控制</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link href="~/manifest-rc.json" rel="manifest" />
    <meta name="description" content="Remote support tools designed to get things done quickly." />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/remote-control.css" rel="stylesheet" asp-append-version="true" />
    @if (AppConfig.Theme == Remotely.Shared.Enums.Theme.Light)
    {
        <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
    }
    else
    {
        <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
    }

    @if (Model.RemotelyUser is not null)
    {
        switch (Model.RemotelyUser.UserOptions.Theme)
        {
            case Remotely.Shared.Enums.Theme.Light:
                <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
                break;
            case Remotely.Shared.Enums.Theme.Dark:
                <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
                break;
            default:
                break;
        }
    }
    else
    {
        if (AppConfig.Theme == Remotely.Shared.Enums.Theme.Light)
        {
            <link href="~/css/remote-control-light.css" rel="stylesheet" asp-append-version="true" />
        }
        else
        {
            <link href="~/css/remote-control-dark.css" rel="stylesheet" asp-append-version="true" />
        }
    }


    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <environment include="Development">
        <script src="~/lib/microsoft-signalr/signalr.js"></script>
        <script src="~/lib/msgpack5/msgpack5.js"></script>
        <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
        <script src="~/lib/msgpack5/msgpack5.min.js"></script>
        <script src="~/lib/microsoft/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
    </environment>
</head>
<body>
    <div class="remotely-header" title="Remotely">
        <div class="logo-title">
            FastRC
        </div>
        <div class="logo-subtitle"></div>
    </div>

    <button id="keyboardButton" hidden="hidden" title="Invoke the mobile touch keyboard.">
        <i class="fas fa-keyboard align-middle"></i>
    </button>


    <button id="menuButton">
        <i class="fas fa-chevron-circle-right"></i>
    </button>

    <div id="menuFrame">

        <div class="menu-options-header">
            --操作列表--
        </div>

        <div>
            <button id="viewOnlyButton" class="option-button" title="如何开启,就会阻止发送命令和输入到远程电脑.">
                只读模式<i class="fas fa-eye"></i>
            </button>

            <button id="clipboardTransferButton" class="option-button" title="输入当前粘贴板的文本到远程电脑">
                粘贴板  <i class="fas fa-clipboard"></i>
            </button>

            <button id="blockInputButton" class="option-button" title="禁止远程用户使用鼠标和键盘">
                禁用远程输入 <i class="fas fa-mouse"></i>
            </button>

            <button id="inviteButton" class="option-button" title="获取一个可邀请其他人查看远程桌面的链接">
                邀请其他人  <i class="fas fa-user-plus"></i>
            </button>

            <button id="audioButton" class="option-button" title="远程声音(仅支持Windows).">
                声音 <i class="fas fa-volume-up"></i>
            </button>

            <button id="fileTransferButton" class="option-button" title="发送文件到远程服务器.">
                文件传输  <i class="fas fa-file-upload"></i>
            </button>

            <button id="ctrlAltDelButton" class="option-button" title="发送 Ctrl+Alt+Del到远程服务器">
                Ctrl+Alt+Del <i class="fas fa-sign-in-alt"></i>
            </button>

            <button id="disconnectButton" class="option-button" title="断开当前会话的连接.">
                断开连接 <i class="fas fa-window-close"></i>
            </button>
        </div>


        <div class="menu-options-header">
            --显示设置--
        </div>

        <div>
            <button id="streamVideoButton" class="option-button" hidden title="降低带宽并提高 FPS，但会增加输入延迟。">
                流模式 <i class="fas fa-video"></i>
            </button>

            <button id="changeScreenButton" class="option-button" title="在远程多显示器设置上切换显示器.">
                显示器 <i class="fas fa-desktop"></i>
            </button>

            <button id="fullScreenButton" class="option-button" title="全屏模式">
                全屏 <i class="fas fa-window-maximize"></i>
            </button>


            <button id="fitToScreenButton" class="toggled option-button" title="如果切换，将调整图像大小以适合窗口。">
                Fit <i class="fas fa-expand"></i>
            </button>
        </div>


        <div class="menu-options-header">
            --录制--
        </div>

        <div>
            <button id="recordSessionButton" class="option-button" title="在浏览器中将会话录制为 WEBM 视频">
                开始 <i class="fas fa-record-vinyl"></i>
            </button>

            <button id="downloadRecordingButton" class="option-button" title="将录制的会话下载为 WEBM 文件">
                下载 <i class="fas fa-download"></i>
            </button>
        </div>

        <div class="menu-options-header">
            --Windows会话--
        </div>
        <div>
            <select id="windowsSessionSelect"
                    title="切换到不同的windows会话."
                    class="option-button"
                    style="height: 30px; width: 90%; margin: 5px 0;"></select>
        </div>

        <div style="margin-top:15px;">
            <span>链接状态: </span>
            <i id="connectionRelayedIcon" class="fas fa-wifi connection-icon" title="服务器中继链接"></i>
            <i id="connectionP2PIcon" class="fas fa-wifi connection-icon" title="p2p连接" style="display:none"></i>
        </div>

    </div>

    <div id="screenSelectBar" class="horizontal-button-bar">

    </div>

    <div id="clipboardTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            共享粘贴板
        </div>
        <div style="color:white; font-size:12px;">
            <button id="typeClipboardButton" class="horizontal-bar-button">Type Clipboard</button>
        </div>
    </div>

    <div id="fileTransferBar" class="horizontal-button-bar">
        <div style="color:white; font-size:12px">
            文件传输
        </div>
        <div style="color:white; font-size:12px;">
            <button id="fileUploadButton" class="horizontal-bar-button">上传文件</button>
            <button id="fileDownloadButton" class="horizontal-bar-button">下载文件</button>
        </div>
    </div>
    <div id="connectBox" class="center-connection-box" style="display: none">
        <h3>建立远程连接:</h3>
        <div class="form-block">
            <label>起个名字(表名您的身份): </label>
            <br />
            <input id="nameInput" type="text" value="@Model.RemotelyUser?.UserOptions?.DisplayName" />
        </div>
        <div class="form-block">
            <label>会话ID: </label>
            <br />
            <input id="sessionIDInput" type="text" pattern="[0-9 ]+" />
        </div>
        <div class="right-aligned">
            <button id="connectButton">确定</button>
        </div>
        <div id="statusMessage" class="status-message">

        </div>
    </div>

    <div id="disconnectedBox" class="center-connection-box" style="text-align: center; display: none;">
        <h3>已从客户端断开连接.</h3>
    </div>


    <div id="screenViewerWrapper" class="center-aligned">
        <canvas id="screenViewer" hidden="hidden"></canvas>
        <video id="videoScreenViewer" hidden="hidden"></video>
        <input id="fileTransferInput" hidden="hidden" type="file" multiple />
        <textarea id="touchKeyboardTextArea" value=" #"> #</textarea>
    </div>

    <div id="toastsWrapper">

    </div>


    <div id="fileTransferDiv" hidden="hidden">
        <span id="fileTransferNameSpan" class="mr-1 font-weight-bold" style="vertical-align: middle;"></span>
        <progress id="fileTransferProgress" style="vertical-align: middle; width: 100%"></progress>
    </div>

    <footer>
        <div class="footer-wrapper">
            <a>欢迎使用FastRC</a>
        </div>
    </footer>

    <script src="~/src/RemoteControl/App.js" type="module"></script>
    <script>
        window.addEventListener("load", () => {
            ViewerApp.Init();
        })
    </script>
</body>
</html>
